@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

:root {
  /* color */
  --color-light-grey: #f5f5f5;
  --color-grey: #aeaeae;
  --color-dark-grey: #c4c4c4;
  --color-white: #ffffff;
  --color-red: #fd4640;

  --color-light-yellow: #fbf3db;
  --color-yellow: #dfab00;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Spoqa Han Sans Neo", "sans-serif";
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

input:focus {
  border: none;
  outline: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: var(--color-light-grey); */
  background-color: var(--color-white);
}

.container {
  width: 690px;
  height: 80vh;
  background-color: var(--color-white);
  border-radius: 5px;
  padding: 60px;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  padding-bottom: 95px;

  box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
}

/* date */
.clock-and-date {
  display: flex;
  align-items: center;
}

.js-date h1 {
  font-size: 15px;
  color: var(--color-dark-grey);
  margin-right: 10px;
  font-weight: 400;
}

/* clock */
.js-clock {
  font-size: 10px;
  padding: 1px 2px;
  width: 50px;

  text-align: center;
  border-radius: 2px;

  color: var(--color-white);
  background-color: var(--color-dark-grey);
}

.js-clock h1 {
  font-weight: 400;
}

/* asking username */
.greetings {
  margin-bottom: 10px;
  height: 20px;
  width: 500px;
}

.greetings input {
  border: none;
  border-bottom: 1px solid var(--color-grey);
  font-size: 15px;
}

.greetings input:focus {
  border: none;
  outline: none;
}

/* username */
.user-name {
  display: flex;
  align-items: center;
}

.user-name h1 {
  margin-right: 5px;
  font-size: 15px;
  font-weight: 500;
}

.mark {
  color: var(--color-yellow);
}

.username-container > span {
  font-size: 15px;
  font-weight: 500;
  background-color: var(--color-light-yellow);
  margin-top: 3px;
  margin-bottom: 10px;
  display: inline-block;
}

.user-name > button {
  background-color: var(--color-red);
  color: var(--color-white);
  font-size: 10px;
  border-radius: 5px;
  height: 20px;
  margin-bottom: 10px;
  transform: translateY(6px);
}

.username-input {
  transform: translateY(5px);
  width: 200px;
}

.username-input,
.greetings,
.js-resetBtn {
  display: none;
}

/* .showing { 맨뒤로 옮김
  display: block;
} */

/* todo-input */
.todo-form input {
  border: none;
  border-bottom: 1px solid var(--color-dark-grey);
  color: var(--color-dark-grey);
  padding: 0 5px;
  width: 250px;
  margin-bottom: 15px;
}

.todo-form input::placeholder {
  color: var(--color-dark-grey);
}

/* todo-list */
.js-todo {
  flex-grow: 2;
}

.doto-list {
  /* display: flex; */
  /* background-color: aqua; */
  height: 300px;
  width: 100%;
  overflow: scroll;
}

.doto-list h3 {
  font-size: 15px;
  margin-bottom: 8px;
}

li {
  /* background-color: var(--color-light-grey); */
  border-radius: 5px;
  height: 30px;
  display: flex;
  align-items: center;
}

.js-toDoList li input,
.js-finishedToDoList li input {
  margin-right: 5px;
}

.js-toDoList li input:checked + label,
.js-finishedToDoList li input:checked + label {
  color: var(--color-dark-grey);
  text-decoration: line-through;
}

.js-toDoList li label,
.js-finishedToDoList li label {
  margin-right: 5px;
  /* cursor: grab; */
  cursor: pointer;
}

.showing {
  display: block;
}

.fa-trash {
  visibility: hidden;
  cursor: pointer;
}

.no {
  visibility: visible;
}

/* D-A-R-K-M-O-D-E */
body.dark {
  /* background-color: #454545; */
  background-color: #2d2d2d;
}

body.dark .container {
  /* background: #454545;
  box-shadow: 0px 20px 60px 20px rgba(0, 0, 0, 0.25); */
  background: #2d2d2d;
  box-shadow: 0px 20px 60px 20px rgba(0, 0, 0, 0.25);
}

body.dark .js-date h1 {
  color: #dddddd;
  font-weight: 500;
}

body.dark .js-clock {
  background-color: #202124;
  /* background-color: inherit; */
  color: #dddddd;
}

body.dark h1.showing {
  color: #dddddd;
}

body.dark .user-name + span {
  color: #dddddd;
  /* background-color: inherit; */
  background-color: #20212440;
}

body.dark button.js-resetBtn {
  /* background-color: var(--color-grey); */
  background-color: #202124;
  color: #dddddd;
}

body.dark span.mark {
  color: var(--color-yellow);
}

body.dark input.username-input {
  background-color: inherit;
  color: #d6d6d650;
}

body.dark .js-todoForm input {
  background-color: inherit;
  border-bottom: #dddddd;
  color: #d6d6d650;
  border-bottom: 1px solid #d6d6d650;
}

body.dark .js-todoForm input::placeholder {
  color: #d6d6d650;
}

body.dark .js-toDoList li input:checked + label,
body.dark .js-finishedToDoList li input:checked + label {
  color: #dddddd20;
  text-decoration: line-through;
}

body.dark label,
body.dark h3 {
  color: #dddddd;
}

/* dark mode change */
.mode {
  align-self: flex-end;
  width: 50px;
  background-color: var(--color-grey);
  position: relative;
  top: 20px;
  right: ;
  border-radius: 25px;
  display: flex;
  align-items: center;
  padding: 3px;
  cursor: pointer;
}

.mode .mode-btn {
  width: 15px;
  height: 15px;
  background-color: var(--color-white);
  border-radius: 50%;
}

.mode.on {
  justify-content: flex-end;
  background-color: #202124;
}

.mode.on .mode-btn {
  background-color: #d6d6d650;
}

@media screen and (min-width: 1px) and (max-width: 480px) {
  body {
    height: 100vh;
    width: 100vw;
    overflow: hidden; /* 모바일에서 스크롤 금지 */
    display: block;
  }

  .container {
    width: 100%;
    height: 100vh;
    padding: 40px;
    border-radius: 0;
    box-shadow: none;
  }

  .greetings input {
    border: none;
  }

  .todo-list-container {
    margin-top: 25px;
    border-radius: 0;
  }

  .todo-form {
    /* background-color: var(--color-red); */
    /* position: absolute;
    bottom: 30px; */
  }

  .todo-form input {
    width: 260px;
    font-size: 15px;
    border: none;
  }

  .js-todo {
    height: min-content;
    flex-grow: 0;
  }

  .js-todo .doto-list {
    height: 65vh;
  }
}
